{% extends 'base.html' %}
{% load static %}

      {% block styles %}
   {{block.super}}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  {% endblock %}
 

{% block content %}
<body>
    <div class="container-fluid">
        <!-- products section -->
        <div class="container" style="padding-top:150px !important;">
            <br>
            
            <div class="row"  id="products">
                {% for product in products %}
                <div class="col-xs-12 col-sm-6 col-md-4 products">
                    
                    
                    <div class="thumbnail" style="width:100% !important;height: 100% !important;" >
                        <figure class="product-images" style="box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 17px 0 rgba(0, 0, 0, 0.18) !important;">
                            <img src="{{product.post.url}}" class = "img-responsive imagee" style="height:400px;width: 100% !important;position: center;size: cover;" alt=""/>
                            <figcaption>
                                <h4 style="color:white;font-size: 19px;bottom: 4px;"><span>{{product.name}}</span></h4>                                
                                <p>
                                    <a id="eye" data-toggle="modal" data-target="#modalQuickView{{product.id}}"><i class="fas fa-eye" data-toggle="tooltip" data-placement="top" title="View more details"></i></a>
                                    <a href="/like/{{product.id}}"><i class="fa fa-fw fa-heart"  data-toggle="tooltip" data-placement="top" title="Like"></i></a>
                                    <a href="/comment/{{product.id}}"><i class="fas fa-comment"  data-toggle="tooltip" data-placement="top" title="Comment"></i></a>
                                </p>
                            </figcaption>			
                        </figure>
                    </div> 
                    <!-- Modal: modalQuickView -->
                    <div class="modal fade" id="modalQuickView{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <!--Carousel Wrapper-->
                                        <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                                            <!--Slides-->
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <img class="d-block w-100" src="{{product.post.url}}" style="height:100% !important;"
                                                    alt="First slide">
                                                </div>
                                            </div>
                                                    </div>
                                                    <!--/.Carousel Wrapper-->
                                                </div>
                                                <div class="col-lg-7">
                                                    <h2 class="h2-responsive product-name">
                                                        <strong>{{product.name}}</strong>
                                                    </h2>
                                                    <h4 class="h4-responsive">
                                                        <span class="green-text">
                                                            <strong>Ksh.{{product.price}}</strong>
                                                        </span>
                                                    </h4>
                                                    <h5 class="h5-responsive">
                                                            <span class="green-text">
                                                                <strong>{{product.posted_on}}</strong>
                                                            </span>
                                                        </h5>
                                       
                            
                            <!-- Add to Cart -->
                            <div class="card-body">
                                <div class="row">
                                   
                              {{product.description}}
                                </div>
                                <br>
                                <span>
                                    <i class="fas fa-comments"></i>&nbsp;<span>{{product.comment.count}} comment(s)</span>
                                    <br>
                                    <i class="fas fa-heart"></i>&nbsp;<span>{{product.count_likes}} likes</span>
                                </span>
                                <br>
                          
                                <div class="text-right">
                                    
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                     {% if product in user.profile.products.all %}
                                    You own this
                                    {% elif product in current_order_products %}
                                     <a href="{% url 'shopping_cart:order_summary' %}" class="btn btn-warning">Go to Cart</a>
{% else %}
                                    <button class="btn btn-success">Add to cart
                                        <i class="fa fa-cart-plus ml-2" aria-hidden="true"></i>
                                    </button>
                                     {% endif %}
                                </div>
                            </div>
                            <!-- /.Add to Cart -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endfor %}        
</div>
</div>



<!-- end of products section -->

</div>
</body>
{% endblock %}


{% block scripts %}
 {{block.super}}
<script type="text/javascript" src="{%static 'js/home.js'%}"></script>
<script type="text/javascript" src="{%static 'js/comment.js'%}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}