<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps+Lora" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar">
  <a class="navbar-brand head" href="/" id="gallery"><img src="https://jsil.co.ke/img/jsil-shop-logo-1510834981.jpg" class = "img-responsive" style="width:180px;height: 90px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse "  id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navigations" >
        <a class="sections"  href="/"><button class="btn btn-sm">Home</button></a>
        <a class="sections" href="#products"><button class="btn btn-sm">Products</button></a>
        <a class="sections" href="{% url 'about' %}"><button class="btn btn-sm">About Us</button></a>
        <a class="sections"  href=""><button class="btn btn-sm">Contacts</button></a>
    </ul>
    <p style="font-size:21px;color:white;font-weight:bold;margin-right: 40px;margin-top: 15px;"><i class="fas fa-user"></i>&nbsp;{{user.username}}</p>
    <div class="navigations">
        {% if request.user.is_authenticated %}
        <a class="sections" href="/logout/" style="color:whitesmoke !important;margin-bottom:7px;margin-right:26px;"><button class="btn btn-sm"><b><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</b></button></a>
        {% else %}
        <a class="sections" href="/accounts/login/" style="color:whitesmoke !important;margin-bottom:7px;margin-right:26px;"><button class="btn btn-sm"><b><i class="fas fa-sign-in-alt"></i>&nbsp;Login</b></button></a>
        {% endif %}
    </div>
  </div>
  
</nav>

<style>
  @import url('https://fonts.googleapis.com/css?family=Nunito|Oleo+Script+Swash+Caps');
  
  .navbar{
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.2), 0 12px 18px 0 rgba(0, 0, 0, 0.06) !important;
    background: rgb(94, 45, 114) !important;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: 20px;
    position: fixed;
    z-index: 1;
    font-weight: bolder !important;
    
  }
  .navigations {
  width: inherit;

}
.navigations button {
  background-color: transparent;
  border-radius: 0;
  margin: 1%;
  color: whitesmoke;
  font-size: 20px;
}
.navigations button:hover {
  border-bottom: 2.5px solid rgb(172, 51, 71);
  transition: 0.3s;
  color: white;
}
.navigations button:active {
  border-bottom: 2.5px solid rgb(172, 51, 71);
  transition: 0.3s;
  color: white;
}
</style>
<script>

// smooth scrolling
$(document).ready(function() {
  window.onload = function () {
    typeWriter()
  };
  var i = 0;
  var txt = 'Hello, my name is Gift Lumumba';
  var speed = 200;

  function typeWriter() {
      if (i < txt.length) {
          document.getElementById("demoo").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
      }
  }
  
  // navbar initially hidden
  $('.navbar').hide();

  // display tooltip on page load
  $('.tooltip').tooltip('show');

  var scrollLink = $('.sections');
  
  // Smooth scrolling
  scrollLink.click(function(e) {
    e.preventDefault();
    $('body,html').animate({
      scrollTop: $(this.hash).offset().top
    }, 1000 );
  });
  
  // Active link switching
  $(window).scroll(function() {
    var scrollbarLocation = $(this).scrollTop();
    
    scrollLink.each(function() {
      
      var sectionOffset = $(this.hash).offset().top - 20;
      
      if ( sectionOffset <= scrollbarLocation ) {
        $(this).parent().addClass('active');
        $(this).parent().siblings().removeClass('active');
      }

      // navbar fade-in/fade-out
      if (scrollbarLocation > 550) {
        $('.navbar').fadeIn();
      } else {
        $('.navbar').fadeOut();
      }
    });
    
  });
  // Navbar popup
  $(window).on('sections', function() {
    
  });
  
});
// end of smooth scrolling


// word substitution
var length = $(".scroll-words").length;
var p = 0;
var u = 0;
while(u<10000) {
for(i=0;i<length;i++){
  $( ".scroll-list" ).animate({
    marginTop: "-"+(i*2)+".55em"
  }, 2000 );
  p = i+1;
}

if(p==length){
for(j=p-1;j>=0;j--){
  $( ".scroll-list" ).animate({
    marginTop: "-"+(j*2)+".55em"
  }, 2000 );
}
}
u++;
}

// end of word substitution

</script>